django
djangorestframework
psycopg2-binary
dj-database-url
python-dotenv
celery
pyamqp
amqp
django-cors-headers
gunicorn
aiohttp
certifi
django-redis
redis
requests
django-db-connection-pool[postgresql]
